﻿<%@ Page Title="عن الموقع" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="TrainingCenter.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <div class="right-align">
        <h2><%: Title %>.</h2>
        <h3>شسيب شسيبش سيب</h3>
        <p>شسيب شسيب شسيب .</p>
    </div>
</asp:Content>
