﻿<%@ Control Language="C#" CodeBehind="Boolean_Edit.ascx.cs" Inherits="TrainingCenter.Boolean_EditField" %>

<div id="Div1" runat="server" class="form-group">
    <div class="col-sm-offset-2 col-sm-3">
      <div class="checkbox">
        <label>
          <asp:CheckBox runat="server" ID="CheckBox1" /> <asp:Label ID="Label1" runat="server" />
        </label>
      </div>
    </div>
</div>


