﻿<%@ Control Language="C#" CodeBehind="Enumeration_Edit.ascx.cs" Inherits="TrainingCenter.Enumeration_EditField" %>

<div id="Div1" runat="server" class="form-group">
    <asp:Label ID="Label1" runat="server" CssClass="col-sm-2 control-label" />
    <div class="col-sm-3">
		<asp:DropDownList 
			ID="DropDownList1"
			CssClass="form-control"
			Runat="server" />
    </div>
</div>

